.container { display: flex; gap: 10px; }
.container > div { flex-basis: 100px; background-color: lightblue; padding: 20px; text-align: center; box-sizing: border-box; }
.container > div:nth-child(2) { flex-grow: 1; }
